
  .container-s101 {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
  }

  .container-s101 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }

  .col-sm-12-s101{
  position: relative;
  width: 100%;
  min-height: 1px;
  }

  .col-sm-12-s101 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  .row-s101 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

  .col-sm-12-s102{
  position: relative;
  width: 100%;
  min-height: 1px;
  }

  .col-sm-12-s102 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  :root{
  --background-silver-dark: #828282;
  --background-silver-light: #e8e8e8;
  --background-white-light: #fafafa;
  --background-white: #ffff;
  --background-black: #000;
  --background-silver-clean: #f1f3f4;
  --background-silver: #59626f;
  --background-green: #c0e4c6;
  --background-green-light: linear-gradient(203deg, rgba(202,238,206,1) 19%, rgba(120,191,132,1) 78%, rgba(120,191,132,1) 84%);

  --text-white: #fff;
  --text-preto: #000;
  --title-blue: #263549;
  }

  .txt-branco {color: var(--text-white);}
  .txt-preto{color: var(--text-preto)}

  .boxcolor-silver{background-color: var(--background-silver);}
  .boxcolor-silver-dark{background-color: var(--background-silver-dark);}
  .boxcolor-silver-light{background-color: var(--background-silver-light);}
  .boxcolor-white{background-color: var(--background-white);}
  .boxcolor-white-light{background-color: var(--background-white-light);}
  .boxcolor-black{background-color: var(--background-black);}
  .boxcolor-silver-clean{background-color: var(--background-silver-clean);}
  .boxcolor-green{background-color: var(--background-green)}
  .boxcolor-green-gradient{background: var(--background-green-light)}

  @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
  @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

  .img-fluid {width: 100%; height: auto;}
  .img-fluid-icons{margin: 0 auto; display: block;}

  .title-xioami{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .subtitle-xioami{
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .subtitle-mini {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }


  .sub-title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .p-center {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1.3;
  overflow-wrap: break-word;
  }

  .p-notas{
  text-align: left;
  font-size: 1rem;
  padding: 5rem;
  font-family: "Camphor Pro", sans-serif;
  }

  .img-grid-mob{display: none;}
  .img-grid-desk{display: block;}


  .btn-green {
  background-image: linear-gradient(to right, #78BF84 5%, #D8F4D9 95%);
  padding: 10px ;
  text-align: center;
  color: white;
  box-shadow: 0 0 25px #eee;
  border-radius: 47px;
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 25rem;
  font-size: 2.3rem;
  font-weight: 700;
  }

  .icons-title {
  font-size: 1.3rem;
  font-family: "Camphor Pro", sans-serif;
  font-weight: 700;
  color: var(--text-preto);
  line-height: 1.2;
  }

  .icons-title-mp {
  font-size: 2rem;
  font-family: "Camphor Pro", sans-serif;
  font-weight: 700;
  color: var(--text-preto);
  line-height: 2;
  }

  .icons-tex {
  font-size: 1rem;
  font-family: "Camphor Pro", sans-serif;

  font-weight: 400;
  line-height: 1.2;
  }

  .icons-size {
  width: 4rem;
  margin: 1rem;
  }

  .icons-size-mp{
  width: 6.5rem;
  margin: 2rem;
  }

  .icons-img-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  }

  .icons-img-text-octa{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 3;

  }
  /************************ Grid ***********************/

  .grid-desk-xiaomi {
  gap: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 42rem;
  }

  .grid-icons-xiaomi {
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  }

  .grid-xiaomi {
  gap: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 38rem;
  }

  .grid-xiaomi-retrato {
  width: 31%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  }




  /********************** Slideshow ********************/

  .slick-slider {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  }

  .slick-list, .slick-slider button{overflow: hidden}
  .slick-list.dragging {cursor: ew-resize}
  .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  z-index: 10 !important;
  }

  .slick-slide img{width:100%}
  .slick-slide.dragging img {pointer-events: none}
  .slick-initialized .slick-slide {display: block}
  .slick-slider button{
  cursor: pointer; 
  outline: 0;
  text-indent: 100px;
  transition: all .4s ease;
  }

  /*** Navigation ***/

  /*** Pagination ***/
  .slick-dots {
  margin: 2rem 0 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
  }

  .slick-dots li{
  display: inline-block;
  margin: 0 5px;
  }

  .slick-dots button {
  background: #828282;
  border-radius: 15px;
  border: 1px solid #828282;
  height: 20px;
  width: 20px;
  }

  .slick-active button{
  background: #292929; 
  border-color: #292929;
  }

  .spacing{padding: 3rem;}
  .spacing-galery{padding: 12rem;}

  /************************* Mobile ***********************/

  @media only screen and (max-width: 920px) {

  .img-fluid-icons {width: 100%; height: auto;}

  .row-s101 {padding: 0 0px;}
  .spacing{padding: 1rem;}
  .spacing-galery{padding: 1rem;}
  .img-grid-desk{display: none;}
  .img-grid-mob{display: block;}

  .col-md-12-s101 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  /********************** Grind Mobile *******************/

  .grid-desk-xiaomi{ 
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  }

  .grid-icons-xiaomi {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13rem;
  margin: 0 auto;
  align-items: flex-start;
  }

  .grid-xiaomi{ 
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  }

  .grid-xiaomi-retrato {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  }



  /********************************************************/

  .title-xioami{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .subtitle-xioami{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }
  .sub-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 350;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }


  .subtitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 0.5rem;
  }

  .p-center {
  font-size: 0.99rem;
  text-align: center;
  padding: 1rem;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .icons-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1rem;
  }

  .icons-img{
  width: 6rem;
  }

  .p-notas {
  text-align: left;
  font-size: 0.9rem;
  padding: 0.5rem;
  }

  .btn-green {
  background-image: linear-gradient(to right, #78BF84 5%, #D8F4D9 95%);
  padding: 5px ;
  text-align: center;
  color: white;
  box-shadow: 0 0 25px #eee;
  border-radius: 47px;
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: 700;
  }


  }